

header{
	background-color: #d88da8;
	font-family: Arial;
}

div.head{
	color: white;
}

div.head ul li{
	display: inline-block;
	padding-right: 50px;
}

nav.menu-nav{
	padding-top:15px;
	padding-bottom: 15px; 
}

nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: white;
	font-family: Arial;
	background-color: #d88da8;
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: #d6326d;
	background-color: white;
	transition: 0.3s all;
}

div.arcticle p{
	width: 350px;
}

img.head {
	max-width: 100;
	max-height: 100;
}

footer{
	padding: 20px;
	color: white;
	background-color: black;
}